:root {
  --primary-clr: #007387;
  --secondary-clr: #434b50;
  --text-color: #ffffff;
  --background-color: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.32px;
  background: var(--background-color);
}

.rp-section {
  width: 100%;
  padding-block: 80px;
}

.rp-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.rp-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon svg {
  width: 56px;
  height: 56px;
}

.notification-icon svg path {
  fill: #25d045;
}

.notification-icon .badge-ctn {
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  padding: 2px 4px;
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 14px;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-count-btn {
  border: none;
  min-width: 160px;
  padding: 8px 24px;
  margin-left: 16px;
  font-size: 18px;
  border-radius: 50px;
  color: white;
  background: var(--primary-clr);
  cursor: pointer;
}
